.statusOnline,
.statusOffline {
  display: block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: green;
  margin: 0 15px 0 15px;
}

.statusOffline {
  background-color: red;
}
.friends__list {
  list-style: none;
}
.friends__listItem {
  display: flex;
  align-items: center;
  margin: 20px;
  box-shadow: 0 0 1em;
  padding-left: 10px;
  border-radius: 3px;
}
.name {
  font-size: large;
  font-weight: 600;
}
.avatar {
  background-color: yellowgreen;
  border-radius: 10px;
  margin: 10px;
}
